.bg-col{
  background: #202020;
}
.bg2-col{
  background: #fff86b;
}
.bg3-col{
  background: #fff86b;
}
.text-col{
  color: #161616;
}
.text2-col{
  color: #fff86b;
}
.text3-col{
  color: #fff;
}

.link-col{
  color: #fff;
}
.link-col:hover{
  color: #fff86b;
}
.border-col{
  border-color: #fff86b;
}
